<form class="form-horizontal" method="POST" action="/articles">
<fieldset>

<!-- Form Name -->
<legend>New Article</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Title</label>  
  <div class="col-md-4">
  <input id="textinput" name="title" type="text" placeholder="Name" class="form-control input-md">
  </div>
</div>

<!-- Dropdown-->
<select name="authorId" class="form-control">
  <option value="0">Choose your name below</option>
  <% if(authors) {%>
  <%authors.forEach(function(a){%>
    <option value="<%=a.id%>">
      <%= a.name%>
    </option>
    <%});%>
    <%}%>
  </select>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Article Content</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="content">write yo article here</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Update</button>
  </div>
</div>

</fieldset>
</form>
